.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: var(--color-dark-teal);
  color: var(--color-white);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 5vw;
  padding-bottom: 6vw;
}

.hero-content {
  text-align: left;
  max-width: 1400px;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: column;
}

.hero-title {
  font-family: var(--font-hero);
  font-size: clamp(4.5rem, 16vw, 16vw);
  line-height: 0.85;
  margin: 0;
  color: var(--color-lime);
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  /* Preparation for GSAP clip-path reveal */
  opacity: 0;
}

.hero-subtitle {
  font-family: var(--font-hero);
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fb2b37;
  opacity: 0;
}

/* .hero-button-wrapper {
  opacity: 0;
} */

.hero-button {
  display: inline-block;
  /* background-color: var(--color-lime); */
  color: #cdea69;
  font-family: var(--font-primary);
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  /* border-radius: 50px; */
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  /* box-shadow: 0 4px 15px rgba(205, 234, 105, 0.3); */
}

.hero-button:hover {
  transform: translateY(-5px);
  background-color: var(--color-white);
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.4);
}

.scroll-indicator {
  position: absolute;
  bottom: 2rem;
  right: 5vw; /* Moved to right because left is occupied now */
  color: var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
